.todo-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    padding-right: 50px;
}


.todo-item p {
    font-size: 30px;
    width: 400px;
    margin: 0 20px;
}

.todo-item .finish {
    text-decoration: line-through
}


.todo-item span {
    font-size: 30px;
    color: darkred;
}

.todo-item p, .todo-item span:hover {
    cursor: pointer;
    user-select:none;
}

